.detailview-container {
    height: 100%;
    width: 100%;
}

.open-files-buttons-container {
    width: 100%;
    display: inline-flex;
    justify-content: right;
    align-content: center;
    margin: 25px 0 25px 0;
}

.pdf-preview {
    margin-top: 25px;
}