<form>
    <div class="filter-container">
      <mat-form-field>
          <input
              type="text"
              placeholder="Filter"
              aria-label="Number"
              matInput
              [formControl]="explorerFormControl"
          >
      </mat-form-field>
      <button mat-icon-button (click)="applyFilter()">
        <mat-icon>search</mat-icon>
      </button>
  </div>
</form>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
  
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let element"> {{element.version}} </td>
      </ng-container>
  
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Date of Creation </th>
        <td mat-cell *matCellDef="let element"> {{element.getDateString()}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
        [class.selected-row]="selectedRow === row"
        (click)="changeSelection(row)"
      ></tr>
      
    </table>

    <mat-paginator
      [pageIndex]="currentPageIndex"
      [length]='length'
      [hidePageSize]='false'
      [pageSizeOptions]='[5, 10, 20]'
      [pageSize]='pageSize'
      (page)='paginationEventHandler($event)'
      showFirstLastButtons
    ></mat-paginator>
</div>

<br>

<div>
  <button mat-raised-button color="primary" (click)="addDocumentTrigger()">Add a new document</button>
</div>