@import 'main.scss';

.explorer-list {
    list-style: none;
    padding: 0;

    li {
        border: 1px solid $primary;
        margin: 2vh 1vw 2vh 1vw;
    }

    li:hover {
        background-color: $secondary;
        color: $inverse;
    }
}

.mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

tr.example-detail-row {
height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
overflow: hidden;
display: flex;
}

.example-element-diagram {
min-width: 80px;
border: 2px solid black;
padding: 8px;
font-weight: lighter;
margin: 8px 0;
height: 104px;
}

.example-element-symbol {
font-weight: bold;
font-size: 40px;
line-height: normal;
}

.example-element-description {
padding: 16px;
}

.example-element-description-attribution {
opacity: 0.5;
} 

.selected-row {
    background-color: $secondary;
}