<div>
    <h2>Document Editor</h2>
    <form [formGroup]="texDocumentForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Document title" formControlName="title" required>
                <!-- <mat-error *ngIf="title.invalid">{{getErrorMessage('title')}}</mat-error> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Path</mat-label>
                <input matInput placeholder="Document path" formControlName="path" required>
                <!-- <mat-error *ngIf="path.invalid">{{getErrorMessage('path')}}</mat-error> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author" required>
                <!-- <mat-error *ngIf="author.invalid">{{getErrorMessage('author')}}</mat-error> -->
            </mat-form-field>
        </div>
        <div formArrayName="packages">
            <h3>Packages</h3>
            <mat-form-field
                *ngIf="packages.length > 0"
                appearance="fill"
            >
                <mat-label>Packages</mat-label>
                <div >
                    <div *ngFor="let packageImport of packages.controls">
                        <label>
                            Package
                            <input matInput formControlName="package">
                        </label>
                        <label>
                            Options
                            <div *ngFor="let option of options.controls">
                                <input matInput formArrayName="option">
                            </div>
                        </label>
                    </div>
                </div>
            </mat-form-field>
            <div>
                <button (click)="addPackage()">Add Package</button>
            </div>
        </div>

        <div>
            <button type="submit" [disabled]="!texDocumentForm.valid">Submit</button>
        </div>
    </form>
</div>