.grid-wrapper {
    display: grid;
    grid-template-columns: 30% 70;
}

.grid-wrapper > div {
    background: #eee;
    padding: 1em;
}

.grid-wrapper > div:nth-child(odd) {
    background-color: #ddd;
}

.whole-width {
    width: 100%;
}