@import 'main.scss';

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.explorer {
    width: 49vw;
    height: 80vh;
}

.detailview {
    width: 47vw;
    height: 70vh;
}

.dv-container {
    width: 47vw;
    height: 78vh;
    max-height: 80vh;
    border: 1px solid $primary;
    overflow-y: auto;
    padding: 1vh 1vw 1vh 1vw;
}

.e-container {
    width: 47vw;
    height: 78vh;
    max-height: 80vh;
    border: 1px solid $primary;
    overflow-y: auto;
    padding: 1vh 1vw 1vh 1vw;
}

.nav-back {
    width: 100%;
    border-bottom: 1px solid $primary;
    display: inline-grid;
    grid-template-columns: 15% 85%;
    height: auto;
}