<div class="container">
  <h1>Title of the project</h1>
</div>

<div class="container">
  <app-explorer class="explorer" (selectedDocumentChange)="selectDocument($event)">
  </app-explorer>
  <app-exercise-compiler *ngIf="viewCompiler" class="dv-container"></app-exercise-compiler>
  <div *ngIf="!viewCompiler" class="dv-container">
    <div class="nav-back">
        <div class="nav-back-button">
            <button mat-mini-fab (click)="backToCompiler()"><mat-icon>arrow_back</mat-icon></button>
        </div>
        <div class="nav-back-text">
            <p>Back to composition of contents</p>
        </div>
    </div>
    <div>
      <app-detailview class="detailview" [selectedDocument]="selectedDoc">
      </app-detailview>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
